# =========================================
# Unity
# =========================================

# Ignore everything inside the Unity project
/Astralum/*

# =========================================
# Keep specific Unity folders
# =========================================

!/Astralum/Assets/
!/Astralum/Assets/AssetBundles/
!/Astralum/Assets/AssetBundles.meta

!/Astralum/Assets/Data/
!/Astralum/Assets/Data.meta

!/Astralum/Assets/Editor/
!/Astralum/Assets/Editor.meta

# =========================================
# Keep shader source files
# =========================================

!/Astralum/Assets/**/*.shader
!/Astralum/Assets/**/*.shader.meta

# =========================================
# Ignore generated Unity data
# =========================================

/Astralum/Library/
/Astralum/Logs/
/Astralum/MemoryCaptures/
/Astralum/Obj/
/Astralum/Packages/
/Astralum/ProjectSettings/
/Astralum/Temp/
/Astralum/UserSettings/

# Ignore build artifacts
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Ignore Rider / VS
.idea/
.vs/

# =========================================
# Keep RimWorld mod folders
# =========================================

!1.6/
!About/
!Textures/

# =========================================
# OS junk
# =========================================

.DS_Store
Thumbs.db
desktop.ini